<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.gallery) %>">
    <link type="text/css" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.fancybox) %>" rel="stylesheet">
    <link type="text/css" href="<%- theme.jsDelivr.url %><%- url_for(theme.libs.css.justifiedGallery) %>" rel="stylesheet">

    <style>
        .pagination {
            text-align: center;
        }

        .nextCountry {
            display: flex;
            justify-content: space-between;
        }

        .btn-prevCountry {
            order: 1;
        }
        .btn-nextCountry {
            order: 2;
        }

        .btn-prev, .btn-next, .btn-first, .btn-last, .btn-prevCountry, .btn-nextCountry {
            display: inline-block;
            margin: 10px; /* 根据需要调整按钮之间的间距 */
            padding: 10px 10px; /* 根据需要调整按钮的内边距 */
            background-color: #45acce; /* 按钮背景颜色 */
            color: #fff; /* 按钮文本颜色 */
            border: 1px solid #45acce; /* 按钮边框 */
            border-radius: 5px; /* 按钮边框圆角 */
            text-decoration: none; /* 去除按钮下划线 */
            transition: background-color 0.3s; /* 添加按钮鼠标悬停时的过渡效果 */
        }

        .btn-prev:hover, .btn-next:hover, .btn-first:hover, .btn-last:hover, .btn-prevCountry:hover, .btn-nextCountry:hover {
            background-color: #4a92de; /* 按钮悬停时的背景颜色 */
        }
    </style>

    <%- partial('_partial/post-cover') %>
</head>
<body>
    <main class="content">
    <div class="container">
        <% var galleries = site.data.galleries;%>
        <% var pageTitle = page.title;%>
        <% var pagepassword = page.password;%>
        <div class="nextCountry">
            <a href="" class="btn-prevCountry"></a>
            <a href="" class="btn-nextCountry"><i class="fa-solid fa-circle-arrow-right"></i></a>
        </div>
        <div class="photo-wrapper">
            <% if (pagepassword) { %>
                <script src="/js/crypto-js.js"></script>
                <script src="/js/gallery-encrypt.js"></script>
                <div id="hbe-security">
                    <div class="hbe-input-container">
                        <input type="password" class="hbe-form-control" id="pass"  placeholder="请输入密码查看内容"/>
                        <a href="javascript:;" class="btn-decrypt" id="btn_decrypt">解密</a>
                    </div>
                </div>
                <div  id="mygallery">
                    <div class="waterfall" id="encrypt-blog" style="display:none">
                    </div>
                </div>
            <% } else { %>
                <div class="waterfall" id="encrypt-blog">
                </div>
            <% } %>
            <!-- <br>
            <div class="pagination">
                <a href="" class="btn-first"><i class="fa-solid fa-angles-left"></i> 首页</a>
                <a href="" class="btn-prev"><i class="fa-solid fa-angle-left"></i> 上一页</a>
                <a class="page-index"></a>
                <a href="" class="btn-next">下一页 <i class="fa-solid fa-angle-right"></i></a>
                <a href="" class="btn-last">尾页 <i class="fa-solid fa-angles-right"></i></a>
            </div> -->
        </div>
    </div>
</main>
<script>
    var galleries = <%- JSON.stringify(galleries) %>;
    var pageTitle = "<%- pageTitle%>";
    
    for (let i = 0; i < galleries.length; i++) {
        if (galleries[i]['name'] == pageTitle) {
            var currentGallery = galleries[i];
            if (i == 0) {
                var prevCountry = galleries[galleries.length-1]['name'];
                var prevflag = galleries[galleries.length-1]['flag'];
                var nextCountry = galleries[i+1]['name'];
                var nextflag = galleries[i+1]['flag'];
            }else if (i == galleries.length-1) {
                var prevCountry = galleries[i-1]['name'];
                var prevflag = galleries[i-1]['flag'];
                var nextCountry = galleries[0]['name'];
                var nextflag = galleries[0]['flag'];
            }else {
                var prevCountry = galleries[i-1]['name'];
                var prevflag = galleries[i-1]['flag'];
                var nextCountry = galleries[i+1]['name'];
                var nextflag = galleries[i+1]['flag'];
            }
            break;
        }
    }
    const button1 = document.querySelector('.btn-prevCountry');
    const button2 = document.querySelector('.btn-nextCountry');
    button1.innerHTML = `<i class="fa-solid fa-circle-arrow-left"></i> ${prevCountry} <i class="flag flag-${prevflag}"></i>`;
    button1.href = `/galleries/${prevCountry}`;
    button2.innerHTML = `<i class="flag flag-${nextflag}"></i> ${nextCountry} <i class="fa-solid fa-circle-arrow-right"></i>`;
    button2.href = `/galleries/${nextCountry}`;

    var photos = currentGallery.photos;
    var photopath = currentGallery.photopath;
    var citys = currentGallery.descriptions;
    var theme = <%- JSON.stringify(theme) %>;
    var galleryImageStr = theme.jsDelivr.url ? theme.jsDelivr.url : '';
    var pagepassword = "<%- pagepassword%>";
    // var currentPage = parseInt(getParameterByName('page')) || 1;
    // var pageSize = 40; // Number of cards per page
    // var totalPages =Math.ceil(photos.length / pageSize);
    // currentPage = Math.min(currentPage,totalPages);
    // currentPage = Math.max(currentPage,1);
    // if(currentPage==1){
    //     document.getElementsByClassName('btn-prev')[0].style.visibility = 'hidden';
    //     document.getElementsByClassName('btn-first')[0].style.visibility = 'hidden';
    // }
    // if(currentPage==totalPages){
    //     document.getElementsByClassName('btn-next')[0].style.visibility = 'hidden';
    //     document.getElementsByClassName('btn-last')[0].style.visibility = 'hidden';
    // }
    // var contentContainerIdxPage = document.querySelector('.page-index');
    // contentContainerIdxPage.textContent = "第"+currentPage+"/"+totalPages+"页";

    function updatePageContent() {
        let imageStr = ''

        for (var i =  0; i < photos.length; i++) {
            var photo = photos[i];
            var city = citys[i];

            imageStr += "<a href=\"" + galleryImageStr + photopath + photo + "\"" +
                    "     class=\"photo-item\" rel=\"example_group\"" +
                    "     data-fancybox=\"images\">" +
                    "      <img src=\"" + galleryImageStr + photopath + "s/s-" + photo + "\"" +
                    "      loading=\"lazy\""+
                    "       alt=" + city + ">\n" +
                    "    </a>"
        }
        var contentContainer = document.getElementById('encrypt-blog');
        if (pagepassword){
            contentContainer.innerHTML = `${aes(imageStr,pagepassword)}`;
        }
        else {
            contentContainer.innerHTML=`${imageStr}`;
        }
    }

    // document.addEventListener("click", function(e) {
    //         if ((e.target.classList.contains("btn-prev") || e.target.classList.contains("fa-angle-left")) && currentPage > 1) {
    //             currentPage--;
    //             updatePageContent(); // Update the page content for the new currentPage
    //             updateURLParameter('page', currentPage); // 更新 URL 参数
    //         }
    //         if ((e.target.classList.contains("btn-next") || e.target.classList.contains("fa-angle-right")) && currentPage < totalPages) {
    //             currentPage++;
    //             updatePageContent(); // Update the page content for the new currentPage
    //             updateURLParameter('page', currentPage); // 更新 URL 参数
    //         }
    //         if ((e.target.classList.contains("btn-first") || e.target.classList.contains("fa-angles-left")) && currentPage > 1) {
    //             currentPage = 1;
    //             updatePageContent(); // Update the page content for the new currentPage
    //             updateURLParameter('page', currentPage); // 更新 URL 参数
    //         }
    //         if ((e.target.classList.contains("btn-last") || e.target.classList.contains("fa-angles-right")) && currentPage < totalPages) {
    //             currentPage = totalPages;
    //             updatePageContent(); // Update the page content for the new currentPage
    //             updateURLParameter('page', currentPage); // 更新 URL 参数
    //         }
    //     });

        // 更新 URL 参数的函数
        // function updateURLParameter(key, value) {
        //     var url = new URL(window.location.href);
        //     url.searchParams.set(key, value);
        //     window.history.replaceState({}, '', url);
        // }

        // Get URL parameter function
        // function getParameterByName(name, url) {
        //     if (!url) {
        //         url = window.location.href;
        //     }
        //     name = name.replace(/[\[\]]/g, "\\$&");
        //     var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        //         results = regex.exec(url);
        //     if (!results) return null;
        //     if (!results[2]) return '';
        //     return decodeURIComponent(results[2].replace(/\+/g, " "));
        // }

        updatePageContent();
</script>

<script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.fancybox) %>"></script>
<script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.justifiedGallery) %>"></script>
<script>
    $("a[rel=example_group]").fancybox();
    $("#encrypt-blog").justifiedGallery({margins: 5, rowHeight: 150});
</script>
</body>
</html>